.canva-form-container {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canva-form {
  outline: 10px double var(--accent);
  padding: 1rem;
  width: 80vw;
  max-width: 600px;
  box-shadow: 0 0 40px var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.canva-form > h1 {
  text-align: center;
}
.canva-form > label {
  width: 100%;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
}
.canva-form > label > * {
  width: 50%;
}
.canva-form > label > input {
  border: none;
}
.canva-form > label > input:focus {
  outline: none;
}
.canva-form > button {
  transition: all 100ms ease;
  width: 100%;
  padding: 0.25rem;
  border: none;
  color: var(--secondary);
  font-size: 1rem;
  font-weight: bold;
  background: var(--accent);
}
.canva-form > button:hover {
  cursor: pointer;
}
.canva-form > button:active {
  background: var(--secondary);
  color: var(--accent);
}
