.capitol-container {
  border-bottom: 5px solid var(--accent);
  width: calc(100%-2rem);
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}
.capitol-container .capitol-title {
  font-size: 1.75rem;
}
.capitol-container .capitol-uploader {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  background: var(--background);
  border-radius: 20px;
}
.file-choose-button {
  position: relative;
  background: var(--accent);
  font-weight: bold;
  padding: 0.25rem;
  font-size: 1.5rem;
  border-radius: 5px;
  > span {
    color: black;
  }
}
.file-choose-button input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px; /* This makes sure the button is large enough */
  cursor: pointer;
  opacity: 0;
}
.file-choose-button:hover {
  opacity: 0.8;
}
.file-upload-button:hover {
  opacity: 0.8;
}
.file-upload-button {
  text-align: center;
  cursor: pointer;
  border: none;
  background: var(--accent);
  color: black;
  font-weight: bold;
  padding: 0.25rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
@media screen and (max-width: 60rem) {
  .capitol-container .capitol-title {
    font-size: 1.35rem;
  }
  .file-choose-button,
  .file-upload-button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 30rem) {
  .capitol-container .capitol-title {
    font-size: 0.65rem;
  }
  .file-choose-button,
  .file-upload-button {
    font-size: 0.75rem;
  }
}
.teme-produs {
  text-align: center;
  font-size: 5vw;
  > span {
    color: var(--accent);
  }
}
