.nav-link {
  > a {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }
  > a:hover {
    opacity: 0.8;
  }
  > a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    background: var(--accent);
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: 250ms ease;
  }
  > a:hover::after {
    transform: scale(1);
  }
}
.fake-nav {
  width: 100%;
  height: 8vh;
}
.nav-bar-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 7vh;
  background: var(--background);
  border-bottom: 10px double var(--text);
  box-shadow: 0px 0px 20px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-container .nav-bar {
  gap: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-bar-container .nav-bar .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-bar-container .nav-bar .nav-link:hover {
  cursor: pointer;
}
.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
.site-logo {
  width: 50px;
}
@media screen and (max-width: 80rem) {
  .logo-container {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 60rem) {
  .logo-container {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 30rem) {
  .logo-container {
    font-size: 1rem;
  }
  .site-logo {
    width: 40px;
  }
}
@media screen and (max-width: 25rem) {
  .logo-container {
    font-size: 0.75rem;
  }
  .site-logo {
    width: 30px;
  }
}
@media screen and (max-width: 20rem) {
  .logo-container {
    font-size: 0.5rem;
  }
  .site-logo {
    width: 30px;
  }
}
.no-show {
  transform: translateX(100%);
}
.search-bar-container {
  z-index: 100000;
  transform: translateX(0);
  transform-origin: right;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 250ms ease;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 7vh;
  background: var(--secondary);
}
.search-bar-container .search-bar {
  display: flex;
  box-shadow: 2px 2px 5px black;
  padding: 0.25rem;
  border-radius: 5px;
  gap: 1rem;
  height: 4vh;
  width: 50vw;
  max-width: 700px;
  background: white;
  > input {
    font-size: 1rem;
    border: none;
    color: black;
  }
  > input:focus {
    outline: none;
  }
}
.search-button {
  padding: 1rem;
}
.pointer:hover {
  cursor: pointer;
}
.search-icon {
  width: 20px;
  color: white;
}
.drop-down-activator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}
.nav-bar-dropdown {
  z-index: 99999;
  background: var(--background);
  box-shadow: 0px 0px 15px black;
  width: 150px;
  top: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  > ul {
    display: flex;
    flex-direction: column;
    > li {
      padding: 5px;
    }
  }
}
.active {
  color: var(--accent);
  position: relative;
}
.nav-link-drop:hover {
  opacity: 0.8;
}
.dropdown-svg {
  width: 10px;
}
/* Hamburger Menu Animation */
.hamburger-menu {
  --x-width: calc(var(--hambuger-height) * 1.41421356237);
  display: none;
  z-index: 9999;
  flex-direction: column;
  gap: var(--bar-gap);
  width: max-content;
  padding: 2rem;
  cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--text);
  border-radius: 1000px;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
  transform-origin: left center;
}
.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  background-color: var(--accent);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  background-color: var(--accent);
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* RESPONSIVE DESIGN*/
@media screen and (max-width: 55rem) {
  .title {
    width: 100%;
  }
  .nav-bar-container .nav-bar .nav-link {
    display: none;
  }
  .nav-bar-container .nav-bar {
    width: 0;
  }
  .hamburger-menu {
    display: flex;
  }
}
